<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CloudPulse</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

    <main class="container">

        <div class="badge">
            CLOUD-NATIVE PLATFORM
        </div>

        <h1>CloudPulse</h1>

        <p class="subtitle">
            Cloud Application Monitoring & Incident Management
        </p>

        <section class="status-card">

            <div class="status-indicator"></div>

            <div>
                <h2>System Operational</h2>

                <p>
                    CloudPulse application is running successfully.
                </p>
            </div>

        </section>

        <section class="cards">

            <div class="card">
                <span>Applications</span>
                <strong>0</strong>
            </div>

            <div class="card">
                <span>Uptime</span>
                <strong>100%</strong>
            </div>

            <div class="card">
                <span>Incidents</span>
                <strong>0</strong>
            </div>

        </section>

        <footer>
            CloudPulse • Cloud-Native DevOps Project
        </footer>

    </main>

</body>
</html>